---
import { GITHUB_URL, SITE_AUTHOR } from '../consts';
import SiteWidgets from './SiteWidgets.astro';

const today = new Date();
---

<footer class="site-footer">
	<p>&copy; {today.getFullYear()} {SITE_AUTHOR}. All Rights Reserved. / <a href="/rss.xml">RSS</a> / <a href="/sitemap-index.xml">Sitemap</a></p>
	<p>Powered by <a href="https://astro.build/" target="_blank" rel="noreferrer">Astro</a> & <a href={GITHUB_URL} target="_blank" rel="noreferrer">GitHub</a>. Style inspired by <a href="https://twilight.spr-aachen.com/" target="_blank" rel="noreferrer">Twilight</a>.</p>
</footer>
<SiteWidgets />
